
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo4.png" width="130" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                </div>
                <div class="navbar-end">
                    <a href="/login" class="navbar-item mr-4">Login</a>
                </div>
            </div>
        </nav>