<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/MCDatepicker-master/dist/mc-calendar.min.css">
        <link rel="stylesheet" href="/assets/css/all.css">
        <link rel="stylesheet" href="/styles/signup.css">
        <title>Sign Up to <%= webname %></title>
    </head>

    <body>

        <%- include ("partials/auth.ejs") %>
    
    <section class="body">
        <div id="signup-header">
            <h1>Sign Up to <%= webname %>&nbsp;<sup><span class="tag is-primary is-light is-medium">It's free!</span></sup></h1>
            <h3>It's quick, simple, and easy!</h3>
        </div>
        <div class="box">
            <form action="" id="signup-form">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <p class="control has-icons-left">
                            <input id="email-input" class="input is-primary" name="email" type="input" placeholder="e.g. alex@example.com">
                            <span class="icon is-small is-left">
                                <i class="far fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <p class="help">Will not be displayed publicly unless you want it to</p>
                </div>
                
                <div class="field user">
                    <label class="label">Username</label>
                    <div class="control">
                        <p class="control has-icons-left">
                            <input id="username-input" class="input is-primary" name="username" type="text" placeholder="3 - 20 chars long">
                            <span class="icon is-small is-left">
                                <i class="far fa-user"></i>
                            </span>
                        </p>
                    </div>
                </div>
                
                <div class="field user">
                    <label class="label">Password</label>
                    <div class="control">
                        <p class="control has-icons-left has-icons-right">
                            <input id="password-input" class="input is-primary" name="password" type="password" placeholder="8 - 20 chars long">
                            <span class="icon is-small is-left">
                                <i class="fas fa-unlock-alt"></i>
                            </span>
                            <span class="icon is-small is-right" id="show-pass">
                                <i class="far fa-eye-slash"></i>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control">
                        <p class="control has-icons-left has-icons-right">
                        <input id="confirm-password" class="input is-primary" name="confirmPass" type="password" placeholder="Make sure you remember it!">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                        <span class="icon is-small is-right" id="show-conf-pass">
                            <i class="fas fa-eye-slash"></i>
                        </span>
                        </p>
                    </div>
                </div>

                <div class="field half">
                    <label class="label">Birthday</label>
                    <div class="control">
                        <p class="control has-icons-left">
                            <input id="birthday-input" class="input is-primary" name="birthday" id="bday" type="text" placeholder="e.g. Jan 1, 2000">
                            <span class="icon is-small is-left">
                                <i class="fas fa-gift"></i>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="field half" id="gender">
                    <label class="label">Gender</label>
                    <div class="control">
                        <p class="control">
                            <label class="radio" id="Male">
                                Male
                                <input type="radio" name="gender" value="male" required>
                                <i class="fas fa-male"></i>
                            </label>
                            <label class="radio" id="Female">
                                Female
                                <input type="radio" name="gender" value="female" required>
                                <i class="fas fa-female"></i>
                            </label>
                            <label class="radio" id="other">
                                Other
                                <input type="radio" name="gender" value="Other" required>
                                <i class="fas fa-neuter"></i>
                            </label>
                        </p>    
                    </div>
                </div>
                <div class="field">
                    <label><input type="checkbox" name="tc" id="terms"> &nbsp; I agree to the <a href="">Terms and Conditions</a></label>
                </div>
                <div id="btn-holder">
                    <button id="signup-btn" class="button is-primary is-rounded">Sign Up</button>
                </div>
            </form>
        </div>
    </section>

        <script src="/assets/MCDatepicker-master/dist/mc-calendar.min.js"></script>
        <script src="/scripts/signup.js"></script>
        <script src="/scripts/nav.js"></script>
    </body>
</html>