<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/MCDatepicker-master/dist/mc-calendar.min.css">
        <link rel="stylesheet" href="/styles/signup.css">
        <title>Sign Up to <%= webname %></title>
    </head>

    <body>

        <%- include ("partials/auth.ejs") %>
    
    <section class="body">
        <div id="signup-header">
            <h1>Sign Up to <%= webname %>&nbsp;<sup><span class="tag is-primary is-light is-medium">It's free!</span></sup></h1>
            <h3>It's quick, simple, and easy!</h3>
        </div>
        <div class="box">
            <form action="" id="signup-form">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input is-primary" type="email" placeholder="e.g. alex@example.com">
                    </div>
                    <p class="help">Will not be displayed publicly unless you want it to</p>
                </div>
                
                <div class="field user">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input is-primary" type="text" placeholder="UsErNamE">
                    </div>
                </div>
                
                <div class="field user">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input is-primary" type="password" placeholder="8 - 20 chars long">
                    </div>
                </div>

                <div class="field half">
                    <label class="label">Birthday</label>
                    <div class="control">
                        <input class="input is-primary" id="bday" type="text">
                    </div>
                </div>

                <div class="field half" id="gender">
                    <label class="label">Gender</label>
                    <div class="control">
                        <label class="radio" id="male">
                            Male
                            <input type="radio" name="gender" value="male">
                        </label>
                        <label class="radio" id="female">
                            Female
                            <input type="radio" name="gender" value="female">
                        </label>
                        <label class="radio" id="other">
                            Other
                            <input type="radio" name="gender" value="other">
                        </label>
                    </div>
                </div>

                <div id="btn-holder">
                    <button id="signup-btn" class="button is-primary is-rounded">Sign Up</button>
                </div>
            </form>
        </div>
    </section>

        <script src="/assets/MCDatepicker-master/dist/mc-calendar.min.js"></script>
        <script src="/scripts/signup.js"></script>
        <script src="/scripts/nav.js"></script>
    </body>
</html>