
.navbar-brand, #brand-img {
    cursor: default !important;
}

.navbar-item {
    font-family: 'Encode Sans SC', sans-serif;
}

#trending-dropdown {
    /* width: fit-content; */
}
#trending:hover + #trending-dropdown, #trending-dropdown:hover, #topics:hover + #topics-dropdown, #topics-dropdown:hover {
    display: flex;
}

#trending:hover + #trending-dropdown, #trending-dropdown:hover {  
  display: flex;
  flex-wrap: wrap;
  width: 50vw;  
}

#topics.navbar-dropdown > .navbar-item {
  display: flex;
  flex: 0;
  min-width: calc(33% - 1em);
}

.navbar-dropdown > .navbar-item:hover {
    color: #485fc7 !important;
}

#signup-btn, #login-btn {
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 1023px) {
    #trending-dropdown, #topics-dropdown {
        display: none;
    }

    #trending:hover + #trending-dropdown, #trending-dropdown:hover {
        display: flex;
    }

    #trending:hover + #trending-dropdown, #trending-dropdown:hover {
        width: 100vw;  
    }
}