

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}  /* Google Input Override! */

.navbar-end > .navbar-item {
    font-family: 'Encode Sans SC', sans-serif;
}

#nav-img {
    /* width: 60px;
    height: 60px; */
}

section.body {
    width: 100%;
    margin-top: 10vh;
}

#signup-header {
    width: 100%;
    text-align: center;
}

#signup-header > h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1vh;
}

#signup-header > h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.box {
    width: 50%;
    margin-left: 25%;
    margin-top: 5vh;
}

form#signup-form {
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
}

.field.user {
    width: 48%;
    display: inline-block;
}

.field.half {
    width: 48%;
    display: inline-block;
}

#gender {
    margin-left: 2%;
}

input.input:focus + span.icon {
    color: rgb(123, 201, 250) !important;
}

span.icon.is-small.is-right {
    pointer-events: all;
    cursor: pointer;
    color: lightgreen;
}

span.icon.is-small.is-right:hover {
    cursor: pointer !important;
}

input.input:focus ~ span.icon.is-small.is-right {
    color: lightslategray;
}

input[name="gender"] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
input[name="gender"] + i {
    cursor: pointer;
    color: lightgray;
}
  
input[name="gender"]:checked + i {
    color: rgb(123, 201, 250);
    font-size: 20px;
}

p.help {
    font-family: 'Raleway', sans-serif;
}

label.radio {
    font-family: 'Raleway', sans-serif;
}

input.input {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#btn-holder {
    width: 100%;
    text-align: center;
}

#signup-btn {
    font-family: 'Encode Sans SC', sans-serif;
    width: 20%;
    min-width: 91px;
}


@media screen and (max-width: 1080px) {
    .box {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 610px) {
    .box {
        width: 98%;
        margin-left: 1%;
    }

    #signup-btn {
        width: 30%;
    }
}