
.navbar-end > .navbar-item {
    font-family: 'Encode Sans SC', sans-serif;
}

section.body {
    width: 100%;
    margin-top: 10vh;
}

#signup-header {
    width: 100%;
    text-align: center;
}

#signup-header > h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1vh;
}

#signup-header > h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.box {
    width: 50%;
    margin-left: 25%;
    margin-top: 5vh;
}

form#signup-form {
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
}

.field.user {
    width: 48%;
    display: inline-block;
}

.field.half {
    width: 48%;
    display: inline-block;
}

#gender {
    margin-left: 2%;
}

p.help {
    font-family: 'Raleway', sans-serif;
}

label.radio {
    font-family: 'Raleway', sans-serif;
}

input.input {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#btn-holder {
    width: 100%;
    text-align: center;
}

#signup-btn {
    font-family: 'Encode Sans SC', sans-serif;
    width: 20%;
    min-width: 91px;
}


@media screen and (max-width: 1080px) {
    .box {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 610px) {
    .box {
        width: 98%;
        margin-left: 1%;
    }

    #signup-btn {
        width: 30%;
    }
}